<h1>sign in</h1>

<p><%= @notice %></p>

<form action="/sessions/new" method="post">
  <label class="label" for="email">Email</label>
  <input type="text" name="email">
  <label class="label" for="password">Password</label>
  <input type="password" name="password">
  <input type="submit" value="sign in">
</form>