<div class="session-page-login-container">
	<h1>sign in</h1>
		<form action="/sessions/new" method="post">
		  <div class="form-field">
		    <input type="email" name="email" value="<%= params[:email] %>" placeholder="email">
		  </div>
		  <div class="form-field">
		    <input type="password" name="password" placeholder="password">
		  </div>
		  <div align="center"><button type="submit">sign in</button></div>
		</form>	
</div>
