/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Lekton:400,700);
@import url(http://fonts.googleapis.com/css?family=Lily+Script+One);

/* General */

body {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #0BA7FB;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a:hover {
  color: #2FB6FF;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

div {
  margin: 0;
  padding: 0;
}

/* Forms */

label {
  display: inline-block;
  margin: 0;
  padding: 0;
}

input {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.form-field {
  margin: 1% 0;
  width: 100%;
}

.form-field label {
  width: 15%;
}

.form-field input[type="text"], .form-field input[type="email"], .form-field input[type="password"], .form-field textarea {
  width: 80%;
}

/* Landing Page */

#background-image {
  background-image: url("../images/coffee-bg.gif");
  background-color: #cccccc;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  z-index: -10;
  overflow: hidden;
  margin: -3px -5px 0px -3px;
}

#background-image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left:0;
  background-color: #FFFFFF;
  opacity: 0.6;
}

.landing-page-content {
  text-align: center;
  width: 15%;
  position: absolute;
  right: 4%;
  top: 5%;
}

.landing-page-content h1 {
  font-family: 'Lekton', sans-serif;
  color: #2E2E2E;
  font-size: 3em;
  padding: 0;
  margin: 2% 0;
}

#logo {
  width: 70px;
  margin-bottom: 5%;
}

.rotate {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}  
 
.rotate:hover {
  -webkit-transform:rotate(-360deg);
  -moz-transform:rotate(-360deg);
  -o-transform:rotate(-360deg);
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
}  

#login {
  width: 145px;
  height: 25px;
  padding: 3% 10%;
  background-color: #FF9B24;
  border-radius: 2px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

#signup {
  width: 145px;
  height: 25px;
  padding: 3% 10%;
  background-color: #FFCF50;
  border-radius: 2px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

#fb-login{
  width: 145px;
  height: 25px;
  padding: 3% 10%;
  background-color: #44619D;
  border-radius: 2px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.login-links {
  margin: 3% 0;
  transition: all 0.3s ease-out;
}

.login-links:hover {
  opacity: 0.8;
  transition: all 0.3s ease-out;
}

.landing-page-slogan {
  position: absolute;
  bottom: 2%;
  right: 5%;
  font-family: 'Lily Script One', cursive;
  color: #2E2E2E;
}

.landing-page-slogan h1 {
  font-size: 3em;
  color: #1C1C1C;
}

/* Layout */

.container {
  width: 85%;
  margin: 0 auto;
  padding: 3% 0;
}

.notice {
  width: 50%;
  margin: 0 auto;
  padding: 0;
}

.notice p {
  font-size: 1em;
  text-align: center;
  color: #585858;
}

/* Top Navigation Bar */

nav {
  width: 100%;
}

/* Posts */

.post-container {
  border: 1px solid #E6E6E6;
  box-shadow: 1px 1px 1px #D8D8D8;
  padding: 5%;
  margin: 1% 0;
}

/* Comments */

.comment-container {
  background-color: #FAFAFA;
  padding: 1%;
}

.reply-container {
  background-color: #F3E2A9;
  padding: 1%;
}

/* Polls */

.poll-container {
  border: 1px solid #CEF6F5;
  box-shadow: 1px 1px 1px #81BEF7;
  padding: 1%;
  margin: 1% 0;
}

/* Photos */

.photo-container {
  border: 1px solid #FE9A2E;
  box-shadow: 1px 1px 1px #F7BE81;
  padding: 1%;
  margin: 1% 0;
}

/* Albums */

.album-container {
  border: 1px solid #04B45F;
  box-shadow: 1px 1px 1px #0B610B;
  padding: 1%;
  margin: 1% 0;
}