<div class="session-page-login-container">
	<h1>Welcome to Circle.</h1>

	<div align="center"><h2>Invite your family members by copying and sending them this link:</h2></div>

	<div align="center"><a href="/users/new?key=<%= @key %>">start your family circle today</a>

	<div align="center" class="enter"><a href="/families/<%= current_family.id %>/show">Enter</a></div></div>
</div>
