<% if current_user %>
  <% if @family.authenticate(current_user.family.id) %>
    <h1>welcome to your family</h1>
  <% else %>
    <h1>you can't be here!</h1>
  <% end %>
<% else %>
  <h1>you need to log in</h1>
<% end %>