<div class="session-page-login-container">
  <h1>sign up</h1>

  <form action="/users/new" method="post">
    <div class="form-field">
      <input type="text" name="user[first_name]" value="<%= params[:first_name] %>" placeholder="what's your first name?">
    </div>
    <div class="form-field">
      <input type="text" name="user[last_name]" value="<%= params[:last_name] %>" placeholder="how about your surname?">
    </div>
    <div class="form-field">
      <input type="text" name="user[nickname]" placeholder="how do you want your family to call you?">
    </div>
    <div class="form-field" id="family-token-form-field">
      <% if @key %>
        <input type='text' name='family[password]' value="<%= @key %>">
      <% else %>
        <p>Does your family have an existing Circle account?</p>
        <p>If not, you will become the admin of your family circle.</p>
      <div align="center"><a href="#" id="token-link">yes</a></div>
      <% end %>
    </div>
    <div class="form-field">
      <input type="email" name="user[email]" value="<%= params[:email] %>" placeholder="sweet, how about your email?">
    </div>
    <div class="form-field">
      <input type="text" name="user[birthday]" placeholder="when is your birthday? (MM/DD/YYYY)">
    </div>
    <div class="form-field">
      <input type="password" name="user[password]" placeholder="lastly, choose your password please!">
    </div>
    <div align="center"><button type="submit">Join the Circle</button></div>
  </form>
</div>