<h1>edit your option</h1>
<p><%= @notice %></p>

<form action="/polls/<%= @option.poll.id  %>/options/<%= @option.id %>/edit" method="post">
  <label for="description">Option Description</label>
  <textarea name="description"><%= @option.description %></textarea>
  <input type="hidden" name="_method" value="put">
  <input type="submit" value="save">
</form>