<h1>create a new poll</h1>
<p><%= @notice %></p>
<form action="/polls/new" method="post">
  <label for="question">Question</label>
  <input type="text" name="question">
  <label for="description">Poll Description</label>
  <textarea rows="10" name="description"></textarea>
  <label for="tag_word">Tags</label>
  <input type="text" name="tag_word">
  <input type="submit" value="new poll">
</form>