<h1>create a new poll</h1>

<form action="/polls/new" method="post">
  <div class="form-field">
    <label for="poll[question]">Question</label>
    <input type="text" name="poll[question]">
  </div>
  <div class="form-field">
    <label for="poll[description]">Poll Description</label>
    <textarea rows="10" name="poll[description]"></textarea>
  </div>
  <div class="form-field">
    <label for="tag_word">Tags</label>
    <input type="text" name="tag_word">
  </div>
  <input type="submit" value="new poll">
</form>