<h1>make a post</h1>

<form action="/posts/new" method="post">
  <label for="description">description</label>
  <textarea name="description" rows="15"></textarea>
  <input type="submit" value="post">
</form>