<h1>make a post</h1>

<form action="/posts/new" method="post">
  <div class="form-field">
    <label for="description">description</label>
    <textarea name="description" rows="15"></textarea>
  </div>
  <div class="form-field">
    <label for="tag_word">tag</label>
    <input type="text" name="tag_word">
  </div>
  <input type="submit" value="post">
</form>